/* .bg-image{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/f/f0/Devara_Part_1.jpg?20240827194728");
    background-size: cover;
  
} */
/* .bg-shade{
    height:100vh;
    background-color: rgba(0,0,0,0.4);
} */